/** ----------------------------------------------------------------------------
 * 全般
 */
* {
  font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'Lucida Grande', 'Meiryo', 'メイリオ', sans-serif;
  font-size: 13px;
  line-height: normal;
  margin: 0;
  padding: 0;
}

a:hover {
  /* chrome-bug */
  padding-bottom: 1px;
}

body {
  background-color: #f1f1f1;
}

#page-title, .content-title {
  font-family: 'Nixie One';
}

#page-title {
  color: #fff;
  font-size: 30px;
}

.content-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
}

button.btn {
  font-weight: bold;
  vertical-align: top;
}

.myred {
  color: #dc143c;
}

.mygreen {
  color: #008080;
}

.myblue {
  color: dodgerblue;
}

.myorange {
  color: orange;
}

.myviolet{
  color: violet;
}

.tooltip-inner {
  background-color: #555;
}

.btn + .tooltip > .tooltip-arrow, .slider > .tooltip > .tooltip-arrow {
  border-bottom-color: #555;
}

/** ----------------------------------------------------------------------------
 * glyphicon
 */
.notify-icon {
  padding-right: 6px;
}

.notify-close-icon {
  color: #999;
  padding-left: 20px;
}

button span.glyphicon {
  color: #444;
  vertical-align: -1px;
}

.glyphicon-info-sign {
  padding-top: 4px;
}

.glyphicon-refresh {
  display: none;
}

.spin {
  display: inline-block;
  vertical-align: middle;

  -webkit-transform-origin: 50% 48%;
  -ms-transform-origin:     50% 48%;
  transform-origin:         50% 48%;
  -webkit-animation: spin 1s linear infinite;
  -moz-animation:    spin 1s linear infinite;
  -ms-animation:     spin 1s linear infinite;
  -o-animation:      spin 1s linear infinite;
  animation:         spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0%   { -webkit-transform: rotate(0deg);   }
  100% { -webkit-transform: rotate(359deg); }
}

@-moz-keyframes spin {
  0%   { -moz-transform: rotate(0deg);   }
  100% { -moz-transform: rotate(359deg); }
}

@-ms-keyframes spin {
  0%   { -ms-transform: rotate(0deg);   }
  100% { -ms-transform: rotate(359deg); }
}

@-o-keyframes spin {
  0%   { -o-transform: rotate(0deg);   }
  100% { -o-transform: rotate(359deg); }
}

@keyframes spin {
  0%   { transform: rotate(0deg);   }
  100% { transform: rotate(359deg); }
}

/** ----------------------------------------------------------------------------
 * ヘッダー
 */
#header {
  background-color: #333;
  margin-bottom: 20px;
  padding: 0 20px 8px;
}

/** ----------------------------------------------------------------------------
 * コンテンツ
 */
#content {
  padding: 0 2%;
}

.content-block {
  margin-bottom: 20px;
  padding: 12px;
}

/** ----------------------------------------------------------------------------
 * player-frame
 */
#player-mask {
  background-color: #333;
  display: none;
}

#player-mask table {
  height: 100%;
  width: 100%;
}

#player-mask td {
  text-align: center;
  vertical-align: middle;
}

#player-mask span {
  color: #ccc;
  font-size: 100px;
}

/** ----------------------------------------------------------------------------
 * youtube-player
 */
#youtube-player {
  height: 280px;
  width: 100%;
}

/** ----------------------------------------------------------------------------
 * player-control
 */
#player-control {
  border-bottom: 1px solid #ddd;
  margin: 6px 0 6px;
  padding-bottom: 6px;
}

#player-control table {
  width: 100%;
}

#player-control td {
  vertical-align: middle;
}

#player-play-pause-body {
  width: 10%;
}

#player-volume-body {
  padding: 0 4% 0 4%;
  width: 90%;
}

#player-play-pause, #player-volume-slider {
  width: 100%;
}

#player-play-pause {
  background-color: #333;
}

#player-play-pause span {
  color: #fff;
}

#player-play-icon {
  display: none;
}

#player-volume-slider .slider-selection {
  background: #89cdef;
}

#player-volume-box {
  display: none;
}

#player-control-extention {
  margin-top: 2px;
  width: 100%;
}

/** ----------------------------------------------------------------------------
 * merged-playlist
 */
#merged-playlist-wrap {
  display: none;
}

#merged-playlist td {
  font-size: 12px;
  padding: 6px;
}

#merged-playlist td.dt-text-align-center {
  text-align: center;
}

.merged-playlist-table-th {
  font-weight: normal;
  text-align: center;
}

table.dataTable tbody > tr.selected, table.dataTable tbody > tr > .selected {
  background-color: #ddd;
}
