/** ----------------------------------------------------------------------------
 * 全般
 */
*, h1 {
  color: #ccc;
  font-size: 14px;
  font-family: 'Courier', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'Lucida Grande', Meiryo, メイリオ, sans-serif;
  margin:  0;
  padding: 0;
}

body {
  background-color: #1e1e1e;
  padding-bottom: 200px; /* ページ下部に空間を作る */
}

h1, h2, h3, h4 {
  color: #fff;
  font-weight: bold;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 26px;
}

hr {
  border-color: #444;
}

button.btn {
  font-weight: bold;
  vertical-align: top;
}

input.form-control {
  color: #111;
}

input.form-control::-webkit-input-placeholder {
  color: #999;
}

.myred {
  color: #dc143c;
}

.mygreen {
  color: #008080;
}

/** ----------------------------------------------------------------------------
 * glyphicon
 */
h2 span.glyphicon {
  color: #fff;
  font-size: 20px;
  margin-right: 6px;
}

button span.glyphicon {
  color: #555;
  margin-right: 6px;
  vertical-align: -2px;
}

.glyphicon-refresh {
  display: none;
}

.spin {
  -webkit-transform-origin: 50% 58%;
  -ms-transform-origin: 50% 58%;
  transform-origin: 50% 58%;
  -webkit-animation: spin 1.5s linear infinite;
  -moz-animation:    spin 1.5s linear infinite;
  -ms-animation:     spin 1.5s linear infinite;
  -o-animation:      spin 1.5s linear infinite;
  animation:         spin 1.5s linear infinite;
  display: inline-block;
}

@-webkit-keyframes spin {
  0%   { -webkit-transform: rotate(0deg);   }
  100% { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes spin {
  0%   { -moz-transform: rotate(0deg);   }
  100% { -moz-transform: rotate(360deg); }
}
@-ms-keyframes spin {
  0%   { -ms-transform: rotate(0deg);   }
  100% { -ms-transform: rotate(360deg); }
}
@-o-keyframes spin {
  0%   { -o-transform: rotate(0deg);   }
  100% { -o-transform: rotate(360deg); }
}
@keyframes spin {
  0%   { transform: rotate(0deg);   }
  100% { transform: rotate(360deg); }
}

/** ----------------------------------------------------------------------------
 * ヘッダー
 */
#header {
  background-color: #111;
  border-bottom: 1px solid #333;
  padding-left:   116px;
  padding-bottom: 10px;
  margin-bottom:  20px;
}

h2 {
  padding-left: 120px;
}

/** ----------------------------------------------------------------------------
 * player-frame
 */
#player-frame {
  padding-left: 146px;
}

/** ----------------------------------------------------------------------------
 * player-status
 */
#player-status {
  padding-top:  4px;
  padding-left: 146px;
}

#player-status-error, #player-status-healthy {
  display: none;
}

/** ----------------------------------------------------------------------------
 * player-control
 */
#player-control {
  padding-top:  4px;
  padding-left: 146px;
}

#loop-label {
  font-size: inherit;
}

#mute-label {
  font-size: inherit;
}

/** ----------------------------------------------------------------------------
 * schedule
 */
#schedule {
  padding-left: 146px;
}

#schedule table, tr, th, td {
  border: 1px solid #333;
  padding: 4px 8px;
}

#schedule th {
  background-color: #111;
}

#schedule th, td {
  text-align: center;
}

.schedule-title {
  min-width: 400px;
}

.schedule-info {
  min-width: 100px;
}

/** ----------------------------------------------------------------------------
 * request
 */
#request {
  padding-left: 146px;
}

#request-url {
  display: inline;
  width: 600px;
  margin-bottom: 4px;
}

#request-password {
  display: inline;
  width: 120px;
}

#request-status {
  padding-top: 4px;
}

/** ----------------------------------------------------------------------------
 * youtube-search
 */
#youtube-search {
  padding-left: 146px;
}

#youtube-search-word {
  display: inline;
  width: 440px;
}

#youtube-search-list {
  width: 880px;
  margin-top: 18px;
}

#youtube-search-list .media {
  margin: 0;
}

#youtube-search-list .media-body {
  vertical-align: middle;
}

.youtube-search-img {
  border: 2px solid #444;
  margin-right: 6px;
}

/** ----------------------------------------------------------------------------
 * master
 */
#master {
  padding-left: 146px;
}

#master-search-word {
  margin-top: 4px;
  width: 440px;
}

#master span.glyphicon-info-sign {
  padding-top: 4px;
}

#master-data-list {
  margin-top: 18px;
  margin-left: 20px;
}

#master-data-list li {
  margin-bottom: 2px;
}

#master-data-list a {
  margin-left: 6px;
}

.master-search-help {
  display: none;
}
