*, h1 {
  color: #ccc;
  font-size: 14px;
  font-family: 'Courier', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'Lucida Grande', Meiryo, メイリオ, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #1e1e1e;
  padding-bottom: 200px; /* ページ下部に空間を作る */
}

h1, h2 {
  color: #fff;
  font-weight: bold;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 26px;
  padding: 0 120px;
}

h2 span.glyphicon {
  color: #fff;
  font-size: 20px;
  margin-right: 6px;
}

button span.glyphicon {
  color: #555;
  margin-right: 7px;
  vertical-align: -1px;
}

button.btn {
  font-weight: bold;
}

#header {
  background-color: #111;
  border-bottom: 1px solid #333;
  padding: 0 116px 10px;
  margin-bottom: 20px;
}

#player-frame {
  padding: 0 146px;
}

#player-control {
  padding: 4px 146px 0;
}

#player-status {
  padding: 4px 146px 0;
}

#schedule {
  padding: 0 146px;
}

#schedule table, tr, th, td {
  border: 1px solid #333;
  padding: 4px 8px;
}

#schedule th {
  background-color: #111;
}

#schedule th, td {
  text-align: center;
}

.schedule-title {
  min-width: 300px;
}

#request {
  padding: 0 146px;
}

#request button {
  vertical-align: top;
}

#request-url {
  display: inline;
  width: 440px;
}

#request-password {
  display: inline;
  width: 100px;
}

#request-animate {
  height: 14px;
  vertical-align: middle;
}

#request-status {
  padding: 4px 0 0;
}

#request-result {
  margin-top: 4px;
}

.glyphicon-refresh-animate {
  -webkit-animation: spin .9s infinite linear;
}

@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to   { -webkit-transform: rotate(360deg); }
}

input.form-control {
  color: #000;
}

input.form-control::-webkit-input-placeholder {
  color: #999;
}

.myred {
  color: #dc143c;
}

.mygreen {
  color: #008080;
}
